.backgroundImg{
    background-image: url("../../../assets/banner.png");
    height: 100vh;
    width: 100%;

}
/* .backgroundImg:hover{
    background-image: url("../../../assets/banner2.jpg");
    
} */
/* @media only screen and (min-width:576px){
    .backgroundImg{
       flex-direction: column;
    }
   

} */